In [28]:
import pandas as pd


data = {
    'Bank': ['JPMorgan', 'Bank of America', 'Wells Fargo', 'Citigroup', 'Goldman Sachs', 
             'Morgan Stanley', 'Barclays', 'HSBC', 'UBS', 'Deutsche Bank',
             'Bank of China', 'ICBC', 'BNP Paribas', 'Santander', 'Mitsubishi UFJ',
             'Bank of Montreal', 'PNC Financial', 'BBVA', 'ING Group', 'Commonwealth Bank',
             'Sumitomo Mitsui', 'Royal Bank of Canada', 'Societe Generale', 'Toronto-Dominion',
             'Westpac Banking'],
    'NIM': [2.5, 3.0, 2.8, 2.2, 3.5, 2.0, 3.2, 2.7, 3.3, 2.4, 2.9, 3.1, 2.6, 3.4, 2.3, 3.2, 2.8, 3.0, 2.1, 3.0, 2.5, 3.3, 2.7, 2.9, 3.1],
    'NPA': [3.2, 2.5, 4.0, 1.8, 5.0, 2.0, 3.8, 4.5, 2.3, 3.5, 2.8, 4.2, 3.0, 2.7, 3.9, 1.6, 4.5, 2.4, 3.2, 3.0, 2.1, 4.0, 3.3, 2.9, 3.7],
    'P/B Ratio': [1.2, 1.5, 1.0, 1.8, 0.8, 1.7, 1.3, 1.1, 1.4, 1.6, 1.2, 1.1, 1.5, 1.3, 1.0, 1.8, 0.9, 1.4, 1.6, 1.2, 1.5, 1.8, 1.1, 1.3, 1.7],
}

df = pd.DataFrame(data)

df

                    Bank  NIM  NPA  P/B Ratio
0               JPMorgan  2.5  3.2        1.2
1        Bank of America  3.0  2.5        1.5
2            Wells Fargo  2.8  4.0        1.0
3              Citigroup  2.2  1.8        1.8
4          Goldman Sachs  3.5  5.0        0.8
5         Morgan Stanley  2.0  2.0        1.7
6               Barclays  3.2  3.8        1.3
7                   HSBC  2.7  4.5        1.1
8                    UBS  3.3  2.3        1.4
9          Deutsche Bank  2.4  3.5        1.6
10         Bank of China  2.9  2.8        1.2
11                  ICBC  3.1  4.2        1.1
12           BNP Paribas  2.6  3.0        1.5
13             Santander  3.4  2.7        1.3
14        Mitsubishi UFJ  2.3  3.9        1.0
15      Bank of Montreal  3.2  1.6        1.8
16         PNC Financial  2.8  4.5        0.9
17                  BBVA  3.0  2.4        1.4
18             ING Group  2.1  3.2        1.6
19     Commonwealth Bank  3.0  3.0        1.2
20       Sumitomo Mitsui  2.5  2.1        1.5
21  Royal Bank of Canada  3.3  4.0        1.8
22      Societe Generale  2.7  3.3        1.1
23      Toronto-Dominion  2.9  2.9        1.3
24       Westpac Banking  3.1  3.7        1.7

In [18]:
df['NIM_NPA_Difference'] = df['NIM'] - df['NPA']

In [24]:
df

,Bank,NIM,NPA,P/B Ratio,P/E Ratio,Target,NIM_NPA_Difference
0,JPMorgan,2.5,3.2,1.2,15,0,-0.7
1,Bank of America,3.0,2.5,1.5,18,1,0.5
2,Wells Fargo,2.8,4.0,1.0,12,0,-1.2
3,Citigroup,2.2,1.8,1.8,20,1,0.4
4,Goldman Sachs,3.5,5.0,0.8,10,0,-1.5
5,Morgan Stanley,2.0,2.0,1.7,22,1,0.0
6,Barclays,3.2,3.8,1.3,16,0,-0.6
7,HSBC,2.7,4.5,1.1,14,1,-1.8
8,UBS,3.3,2.3,1.4,19,0,1.0
9,Deutsche Bank,2.4,3.5,1.6,17,1,-1.1
10,Bank of China,2.9,2.8,1.2,13,0,0.1
11,ICBC,3.1,4.2,1.1,15,1,-1.1
12,BNP Paribas,2.6,3.0,1.5,18,0,-0.4
13,Santander,3.4,2.7,1.3,16,1,0.7
14,Mitsubishi UFJ,2.3,3.9,1.0,12,0,-1.6
15,Bank of Montreal,3.2,1.6,1.8,20,1,1.6
16,PNC Financial,2.8,4.5,0.9,14,0,-1.7
17,BBVA,3.0,2.4,1.4,19,1,0.6
18,ING Group,2.1,3.2,1.6,17,0,-1.1
19,Commonwealth Bank,3.0,3.0,1.2,13,1,0.0
20,Sumitomo Mitsui,2.5,2.1,1.5,18,1,0.4
21,Royal Bank of Canada,3.3,4.0,1.8,19,0,-0.7
22,Societe Generale,2.7,3.3,1.1,15,1,-0.6
23,Toronto-Dominion,2.9,2.9,1.3,16,0,0.0
24,Westpac Banking,3.1,3.7,1.7,22,1,-0.6

## Valuation Metric:

### Low P/B Ratio:

##### Undervaluation
##### Potential Bargain
##### Financial Distress
##### Value Investing Opportunity

### High P/B Ratio:

##### Market Confidence
##### Expectations of Future Growth
##### Industry Comparison
##### Potential Overvaluation

In [29]:
df_sorted = df.sort_values(by='P/B Ratio', ascending=False)

In [30]:
df_sorted

                    Bank  NIM  NPA  P/B Ratio
21  Royal Bank of Canada  3.3  4.0        1.8
3              Citigroup  2.2  1.8        1.8
15      Bank of Montreal  3.2  1.6        1.8
24       Westpac Banking  3.1  3.7        1.7
5         Morgan Stanley  2.0  2.0        1.7
9          Deutsche Bank  2.4  3.5        1.6
18             ING Group  2.1  3.2        1.6
20       Sumitomo Mitsui  2.5  2.1        1.5
1        Bank of America  3.0  2.5        1.5
12           BNP Paribas  2.6  3.0        1.5
8                    UBS  3.3  2.3        1.4
17                  BBVA  3.0  2.4        1.4
13             Santander  3.4  2.7        1.3
6               Barclays  3.2  3.8        1.3
23      Toronto-Dominion  2.9  2.9        1.3
10         Bank of China  2.9  2.8        1.2
19     Commonwealth Bank  3.0  3.0        1.2
0               JPMorgan  2.5  3.2        1.2
11                  ICBC  3.1  4.2        1.1
7                   HSBC  2.7  4.5        1.1
22      Societe Generale  2.7  3.3        1.1
14        Mitsubishi UFJ  2.3  3.9        1.0
2            Wells Fargo  2.8  4.0        1.0
16         PNC Financial  2.8  4.5        0.9
4          Goldman Sachs  3.5  5.0        0.8

In [25]:
max_diff_row = df.loc[df['NIM_NPA_Difference'].idxmax()]

### MAX P/B Ratio bank

In [31]:
max_diff_row['Bank']

'Bank of Montreal'

In [15]:
import pandas as pd
import random

# Function to generate random sectors
def generate_random_sector():
    sectors = ['Technology', 'E-commerce', 'Automotive', 'Healthcare', 'Consumer Goods', 'Beverages']
    return random.choice(sectors)

# Synthetic data for 25 companies
companies_data = {
    'Company': ['Apple', 'Microsoft', 'Amazon', 'Google', 'Tesla', 'Facebook', 'Johnson & Johnson', 'Procter & Gamble', 'Intel', 'Coca-Cola',
                'IBM', 'General Electric', 'Netflix', 'Ford', 'Oracle', 'Pfizer', 'Walmart', 'Boeing', 'AT&T', 'General Motors',
                'Merck', 'Verizon', 'Chevron', 'Cisco', 'PepsiCo'],
    'Sector': [generate_random_sector() for _ in range(25)],
    'P/E Ratio': [random.randint(20, 40) for _ in range(25)],
    'Q1 Earnings': [round(random.uniform(1.5, 5.0), 2) for _ in range(25)],
    'Q2 Earnings': [round(random.uniform(1.5, 5.0), 2) for _ in range(25)],
    'Q3 Earnings': [round(random.uniform(1.5, 5.0), 2) for _ in range(25)],
    'Q4 Earnings': [round(random.uniform(1.5, 5.0), 2) for _ in range(25)],
}

# Convert to DataFrame
companies_df = pd.DataFrame(companies_data)

companies_df

,Company,Sector,P/E Ratio,Q1 Earnings,Q2 Earnings,Q3 Earnings,Q4 Earnings
0,Apple,Automotive,21,3.78,4.54,1.86,2.95
1,Microsoft,Automotive,37,1.74,2.21,4.81,1.65
2,Amazon,E-commerce,36,3.17,3.96,2.17,4.33
3,Google,Healthcare,20,2.68,2.52,3.41,1.65
4,Tesla,Consumer Goods,35,2.13,2.80,3.63,3.62
5,Facebook,Automotive,32,3.06,1.94,4.03,3.94
6,Johnson & Johnson,Consumer Goods,20,4.79,4.19,1.58,4.67
7,Procter & Gamble,Beverages,26,3.86,2.93,2.17,4.86
8,Intel,Healthcare,30,3.39,2.45,3.73,3.71
9,Coca-Cola,Healthcare,36,3.93,3.30,1.87,4.69
10,IBM,Automotive,29,4.01,3.01,4.69,3.79
11,General Electric,E-commerce,40,2.33,4.53,4.62,4.91
12,Netflix,Beverages,30,3.62,3.32,3.72,2.39
13,Ford,E-commerce,39,4.33,4.00,3.94,4.84
14,Oracle,E-commerce,34,3.11,1.65,4.29,3.13
15,Pfizer,Healthcare,30,2.17,3.31,1.65,3.26
16,Walmart,Technology,37,3.77,4.29,3.98,3.41
17,Boeing,Beverages,24,3.92,2.46,2.16,4.27
18,AT&T,Technology,33,4.87,2.38,4.22,3.76
19,General Motors,Consumer Goods,38,2.53,2.91,3.56,4.56
20,Merck,Consumer Goods,37,1.79,2.61,4.92,3.02
21,Verizon,Healthcare,28,3.59,3.21,2.58,1.66
22,Chevron,Consumer Goods,36,3.28,4.19,3.40,2.20
23,Cisco,Beverages,23,2.73,1.56,4.83,4.63
24,PepsiCo,E-commerce,26,2.07,3.36,2.80,1.57

In [32]:
companies_df['Yearly']=companies_df['Q1 Earnings']+companies_df['Q2 Earnings']+companies_df['Q3 Earnings']+companies_df['Q4 Earnings']

In [33]:
companies_df

,Company,Sector,P/E Ratio,Q1 Earnings,Q2 Earnings,Q3 Earnings,Q4 Earnings,Yearly
0,Apple,Automotive,21,3.78,4.54,1.86,2.95,13.13
1,Microsoft,Automotive,37,1.74,2.21,4.81,1.65,10.41
2,Amazon,E-commerce,36,3.17,3.96,2.17,4.33,13.63
3,Google,Healthcare,20,2.68,2.52,3.41,1.65,10.26
4,Tesla,Consumer Goods,35,2.13,2.80,3.63,3.62,12.18
5,Facebook,Automotive,32,3.06,1.94,4.03,3.94,12.97
6,Johnson & Johnson,Consumer Goods,20,4.79,4.19,1.58,4.67,15.23
7,Procter & Gamble,Beverages,26,3.86,2.93,2.17,4.86,13.82
8,Intel,Healthcare,30,3.39,2.45,3.73,3.71,13.28
9,Coca-Cola,Healthcare,36,3.93,3.30,1.87,4.69,13.79
10,IBM,Automotive,29,4.01,3.01,4.69,3.79,15.50
11,General Electric,E-commerce,40,2.33,4.53,4.62,4.91,16.39
12,Netflix,Beverages,30,3.62,3.32,3.72,2.39,13.05
13,Ford,E-commerce,39,4.33,4.00,3.94,4.84,17.11
14,Oracle,E-commerce,34,3.11,1.65,4.29,3.13,12.18
15,Pfizer,Healthcare,30,2.17,3.31,1.65,3.26,10.39
16,Walmart,Technology,37,3.77,4.29,3.98,3.41,15.45
17,Boeing,Beverages,24,3.92,2.46,2.16,4.27,12.81
18,AT&T,Technology,33,4.87,2.38,4.22,3.76,15.23
19,General Motors,Consumer Goods,38,2.53,2.91,3.56,4.56,13.56
20,Merck,Consumer Goods,37,1.79,2.61,4.92,3.02,12.34
21,Verizon,Healthcare,28,3.59,3.21,2.58,1.66,11.04
22,Chevron,Consumer Goods,36,3.28,4.19,3.40,2.20,13.07
23,Cisco,Beverages,23,2.73,1.56,4.83,4.63,13.75
24,PepsiCo,E-commerce,26,2.07,3.36,2.80,1.57,9.80

In [40]:
sector_sum = companies_df.groupby('Sector')['Yearly'].mean()

sorted_sector_sum = sector_sum.sort_values(ascending=False)

print(sorted_sector_sum)

Sector
Technology        15.3400
E-commerce        13.8220
Beverages         13.3575
Consumer Goods    13.2760
Automotive        13.0025
Healthcare        11.7520
Name: Yearly, dtype: float64

In [41]:
companies_df_sorted = companies_df.sort_values(by='Sector', ascending=False)

### Select companies which have lesser average earnings than its sector earnings

In [51]:
filtered_companies = companies_df[companies_df['Yearly'] < companies_df['Sector'].map(sector_sum)]

In [53]:
filtered_companies.reset_index(drop=True)

,Company,Sector,P/E Ratio,Q1 Earnings,Q2 Earnings,Q3 Earnings,Q4 Earnings,Yearly
0,Microsoft,Automotive,37,1.74,2.21,4.81,1.65,10.41
1,Amazon,E-commerce,36,3.17,3.96,2.17,4.33,13.63
2,Google,Healthcare,20,2.68,2.52,3.41,1.65,10.26
3,Tesla,Consumer Goods,35,2.13,2.80,3.63,3.62,12.18
4,Facebook,Automotive,32,3.06,1.94,4.03,3.94,12.97
5,Netflix,Beverages,30,3.62,3.32,3.72,2.39,13.05
6,Oracle,E-commerce,34,3.11,1.65,4.29,3.13,12.18
7,Pfizer,Healthcare,30,2.17,3.31,1.65,3.26,10.39
8,Boeing,Beverages,24,3.92,2.46,2.16,4.27,12.81
9,AT&T,Technology,33,4.87,2.38,4.22,3.76,15.23
10,Merck,Consumer Goods,37,1.79,2.61,4.92,3.02,12.34
11,Verizon,Healthcare,28,3.59,3.21,2.58,1.66,11.04
12,Chevron,Consumer Goods,36,3.28,4.19,3.40,2.20,13.07
13,PepsiCo,E-commerce,26,2.07,3.36,2.80,1.57,9.80

In [52]:
filtered_companies

,Company,Sector,P/E Ratio,Q1 Earnings,Q2 Earnings,Q3 Earnings,Q4 Earnings,Yearly
1,Microsoft,Automotive,37,1.74,2.21,4.81,1.65,10.41
2,Amazon,E-commerce,36,3.17,3.96,2.17,4.33,13.63
3,Google,Healthcare,20,2.68,2.52,3.41,1.65,10.26
4,Tesla,Consumer Goods,35,2.13,2.80,3.63,3.62,12.18
5,Facebook,Automotive,32,3.06,1.94,4.03,3.94,12.97
12,Netflix,Beverages,30,3.62,3.32,3.72,2.39,13.05
14,Oracle,E-commerce,34,3.11,1.65,4.29,3.13,12.18
15,Pfizer,Healthcare,30,2.17,3.31,1.65,3.26,10.39
17,Boeing,Beverages,24,3.92,2.46,2.16,4.27,12.81
18,AT&T,Technology,33,4.87,2.38,4.22,3.76,15.23
20,Merck,Consumer Goods,37,1.79,2.61,4.92,3.02,12.34
21,Verizon,Healthcare,28,3.59,3.21,2.58,1.66,11.04
22,Chevron,Consumer Goods,36,3.28,4.19,3.40,2.20,13.07
24,PepsiCo,E-commerce,26,2.07,3.36,2.80,1.57,9.80

## High P/E Ratio:

#### High Growth Expectations
#### Positive Market Sentiment
#### Industry Leaders
#### Tech and Growth Stocks


## Low P/E Ratio:

#### Value Investing Opportunities
#### Stable or Mature Industries
#### Cyclical Industries
#### Perceived Risks